body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }


  .App {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  


  .note-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    position: relative;
  }
  
  button {
    margin-left: 20px;
  }

  
  @media (max-width: 600px) {
    .note-item {
      font-size: 0.9em;
      /* background-color: red; */
    }
  
    button {
      padding: 5px;
    }
  }
  

  